<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add</title>
</head>
<body>
<div class="container">
    <form class="needs-validation" novalidate method="post" action="localhost:8080/edit" id="allevo">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <input type="hidden" class="form-control" id="id" placeholder="id"/>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
                <label for="queueName">Queue name</label>
                <input type="text" class="form-control" id="queueName" placeholder="Queue name"/>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="description"/>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
                <fieldset class="form-group">
                    <div class="row">

                        <div class="col-md-12">
                            Hold status:
                            <div class="form-check" style="display:inline;padding-left: 1.5rem;">
                                <input class="form-check-input" type="radio" name="holdStatus" id="Active"
                                       th:value="${active}" checked/>
                                <label class="form-check-label" for="Active">
                                    Active
                                </label>
                            </div>
                            <div class="form-check" style="display:inline">
                                <input class="form-check-input" type="radio" name="holdStatus" id="Inactive"
                                       th:value="${inactive}"/>
                                <label class="form-check-label" for="Inactive">
                                    Inactive
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isExitPoint" th:value="${isExitPoint}"/>
                            <label class="form-check-label" for="isExitPoint">
                                Has Exitpoint
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <select id="exitPoint" class="form-control" style="width:90%">
                        <option value="0" selected>Choose...</option>
                        <option value=1>Optiunea 1</option>
                        <option value=2>Optiunea 2</option>
                        <option value=3>Optiunea 3</option>
                        <option value=4>Optiunea 4</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="alert alert-light" role="alert" style="padding:0;margin:0;text-align:center">
                    Type
                </div>
                <th:block th:each="type : ${types}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="types" id="types1" th:value="${type.id}"/>
                        <label class="form-check-label" for="types1" th:text="${type.name}">
                            Ordinary
                        </label>
                    </div>
                </th:block>
            </div>
            <!--coloana a treia-->
            <div class="col-md-3 mb-3">
                <div class="alert alert-light" role="alert" style="padding:0;margin:0;text-align:center">
                    Action
                </div>
                <th:block th:each="action : ${actions}">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="action" id="check1"
                                   th:value="${action.id}"/>
                            <label class="form-check-label" for="isExitPoint" th:text="${action.name}">
                                Authorize
                            </label>
                        </div>
                    </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

<script>
  var exitPoint = function () {
    if ($("#isExitPoint").is(":checked")) {
        $('#exitPoint').prop('disabled', false);
    }
    else {
        $('#exitPoint').prop('disabled', 'disabled');
    }
  };
  $(exitPoint);
  $("#isExitPoint").change(exitPoint);

</script>
<script>

var action;
var type_arr = new Array();

$("input[name=types]").on('change', function(){
    type = ($("input[name=types]:checked").val());
    console.log(type);
    type_arr = new Array({id:type});
    console.log(type_arr);
})


$("#allevo").submit(function(event){
    event.preventDefault();
    JSONTest();
});
    function JSONTest()
{

var queue = $("#queueName").val();
var description = $("#description").val();
var holdStatus = $("#Active").is(":checked");
var isExitPoint = $("#isExitPoint").is(":checked");
var exitPoint = $("#exitPoint").val();
var arr = {};
favorite = [];
$.each($("input[name='action']:checked"), function(){
                favorite.push($(this).val());
});
var action = new Array();
for(var val in favorite){
    action.push({id:favorite[val]});
}
if (queue.trim().length == 0)
    return false;
arr["queueName"]= queue;
arr["description"]=description;
arr["holdStatus"]=holdStatus;
arr["isExitPoint"]=isExitPoint;
arr["exitPoint"]=exitPoint;
if (type_arr.length > 0){
    arr["types"] = type_arr;
}
if (action.length >0){
    arr["actions"] = action;
}

    $.ajax({
        url: "/edit",
        type: "POST",
        contentType : "application/json",
        data: JSON.stringify(arr),
        dataType : 'html',
        success: function (result) {
            location.reload();
        },
        error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
        }
    });
}

</script>

</body>
</html>